<div class="scrollable">
    <div class="scrollable-content" ng-controller="MeetingController as meetingCtrl">
        <div class="list-group">
                <a class="list-group-item" href="#/meeting/{{meetingContainer.object.id}}" ng-repeat="meetingContainer in meetingCtrl.meetings" ng-class="meetingCtrl.getSigninClass(meetingContainer.status)">
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a">
                            <h2>{{meetingContainer.object.name}}</h2>
                            <strong>{{meetingContainer.object.location.name}}</strong>
                        </div>
                        <div class="ui-block-a ui-li-aside">
                            <p><strong>{{meetingContainer.object.startDate.date | myDate:'HH:mm'}}</strong></p>
                            {{meetingContainer.object.responsible | memberName}}
                        </div>
                    </fieldset>
                </a>
        </div>
    </div>
</div>