<label for="memberSelect">Mitglieder:</label><br>
<ui-select multiple
        id="memberSelect"
        theme="bootstrap"
	    class="form-control"
        style="width:100%;"
        ng-model="ngModel"
        ng-disabled="disabled"
        required="required">
    <ui-select-match placeholder="Wähle aus den Mitgliedern aus">{{member.firstname + ' ' + member.surname}}</ui-select-match>
    <ui-select-choices repeat="member.id as (member.firstname + ' ' + member.surname) for member in memberCtrl.members">
        <div>{{member.firstname | highlight: $select.search}} {{member.surname | highlight: $select.search}}</div>
    </ui-select-choices>
</ui-select>