.project
.idea
.cordova
platforms/
plugins/
bower_components
node_modules
vendor
mobile_app/www/css/app.min.css
mobile_app/www/css/bootstrap-datetimepicker.css
mobile_app/www/css/bootstrap-theme.css
mobile_app/www/css/bootstrap.css
mobile_app/www/css/hover.min.css
mobile_app/www/css/select.css
mobile_app/www/fonts/fontawesome-webfont.svg
mobile_app/www/fonts/glyphicons-halflings-regular.svg
mobile_app/www/index.html
mobile_app/www/js/app.min.js
mobile_app/www/js/app.min.js.map
